:root{
    --Bule: #5243C2 ;
}

html{
    scroll-behavior: smooth;
}
/* header */
header{
    padding: 30px 0;
}
header .container{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
header h4{
    color: var(--Bule);
    padding: 20px;
    border-radius: 50%;
    background-color: #f1eeee ;
    display: inline-block;
    font-family: cursive;
}
header .list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
header .list ul li{
    list-style: none;
    padding: 10px;
    position: relative;
    cursor: pointer;
}
header .list ul li:before{
    content: '';
    content: '';
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--Bule);
    transition: 0.3s;
}
header .list ul li:hover::before{
    width: calc(100% - 20px);
}
/* end header */


/* main */
main{
    margin-bottom: 60px;
}

main .row{
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
main .row .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .row .imageBox{
    text-align: center;
}
main .row .imageBox button{
    position: absolute;
    top: 35%;
    left: 35%;
    background: var(--Bule);
    color: white;
    border: none;
    padding: 20px;
    border-radius: 50%;
    font-size: 30px;
    font-family: cursive;
    font-weight: lighter;
}
main .row .imageBox button a{
    color: white;
    text-decoration: none;
}

/* end main */

footer{
    padding: 30px 0;
}
footer .row{
    margin-bottom: 50px;
}
footer .imageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .imageBox::before{
    content:'❤️'
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: red;
    animation: heartbeat 1s infinite;
    
}
footer .imageBox .up img{
    position: relative;
    z-index: 100;
    /* margin-bottom: -25px; */
    transition: 1s;
}
footer .imageBox .down img{
    position: relative;
    z-index: -100;
    /* margin-top: -10px; */
    transition: 1s;
}


footer .imageBox img{
    width: 230px;
}
footer .imageBox .imageInsinde{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
footer .imageBox .imageInsinde img{
    height: 40px;
    margin-bottom: -10px;
    position: relative;
    transition: 1s;
}
footer .cost{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
footer .cost h5{
    color: var(--Bule);
    font-weight: 700;
    font-size: 28px;
    padding: 20px;
}
footer .cost button{
    color: white;
    background-color: var(--Bule);
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    outline: none;
}
footer .downPart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
footer .downPart .box{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 140px;
}
footer .downPart .box img{
    width: 75px;
}
footer .downPart .box button{
    outline: none;
    border: 1px solid var(--Bule);
    width: 25px;
    border-radius: 10px;
    font-size: 17.5px;
    color: white;
    background-color: var(--Bule);
    cursor: pointer;
    text-align: center;
}
footer .downPart .box p{
    text-transform: capitalize;
    display: inline-block;
}

.footer .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    height: 250px;
    background: var(--Bule);
    color: white;
    max-width: 100%;
    margin: 0;
}
.footer h3{
    color: var(--Bule);
    padding: 20px;
    border-radius: 50%;
    background-color: #f1eeee;
    display: inline-block;
    font-family: cursive;
}
.footer .icons i{
    color: white;
    font-size: 25px;
    padding: 13px;
}

@keyframes heartbeat {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
}
